<div class="row justify-content-md-center first-block">
    <div class="row justify-content-md-center">
    <div class="col-lg-12">

            <h3>Hello {{name}} ! La communauté t'écoute.</h3>

    </div>

    </div>

    <div class="row justify-content-md-center">

    <div class="col-lg-6">
        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAASklEQVRIie3NsRHAIBADQZVEh9ChKUYX48jhR54PgNfMRQpWOm7AAtb+QNBju2UCXz0bCCuggJOA4BupgCTZbsBMA36vgAuA7fYC+WbEra34B70AAAAASUVORK5CYII="/>        Besoin d'aide !
    </div>

    <div class="col-lg-6">
        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAABKUlEQVRIid1UwXHDMAzzCBkhI3iEbFCPkA3iEbpJvIEzgjdIN7A3iB8A+WQ/1J2ixras5tPyTi9RAAhSrKp/Hap6FJELyZ7kSNL8jCR7Ebmo6nE3sJkdSF4jwK1zNbNDFjiAGsAjetyRbGIAF9D4nZE0AA8A9ZYlpwj4lqPKyW6BRFVPa4nB5y6r3CiiasaXwkSkdRVD9CirByEfwEDSRKT9QRAuSTalBN6XJ5FVCrbXmmwcADNJyx63AoJdFi2Ar1r06Y/vpQSrTfYxncLPzLEjERjGdFq02X/x7Il9zp5R1aPvKgMwb/7mhORlNQ76Ee+rLPAQblcX+w2gJnlf6ElXNH2RunOyACcAg4i0Res6Jfi10owKZgDntwEnBF/ZzSsgeK8lfzK+Af5stEqnZSJAAAAAAElFTkSuQmCC"/>        Partager un truc intéressant
    </div>

</div>

</div>

