<div class="row justify-content-center">

    <div class="col-12 first-block">

        <div class="row justify-content-center">

            <div class="col-12"><h4><a href="#">
                <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAABKUlEQVRIid1UwXHDMAzzCBkhI3iEbFCPkA3iEbpJvIEzgjdIN7A3iB8A+WQ/1J2ixras5tPyTi9RAAhSrKp/Hap6FJELyZ7kSNL8jCR7Ebmo6nE3sJkdSF4jwK1zNbNDFjiAGsAjetyRbGIAF9D4nZE0AA8A9ZYlpwj4lqPKyW6BRFVPa4nB5y6r3CiiasaXwkSkdRVD9CirByEfwEDSRKT9QRAuSTalBN6XJ5FVCrbXmmwcADNJyx63AoJdFi2Ar1r06Y/vpQSrTfYxncLPzLEjERjGdFq02X/x7Il9zp5R1aPvKgMwb/7mhORlNQ76Ee+rLPAQblcX+w2gJnlf6ElXNH2RunOyACcAg4i0Res6Jfi10owKZgDntwEnBF/ZzSsgeK8lfzK+Af5stEqnZSJAAAAAAElFTkSuQmCC"/>                <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAA70lEQVRIieWU3RGDIBCEvxIoxRLoIHSiHcROtCPtQDuIHSQPHjNMPE6IeUp2Zl+OY5efBfgHBGAAJuApnKR2uyLsgSURzXGR3ir0BcLvbEvFuw/EI7szcX9BPNJbBmtm0iarc8JOark7UREqt24dZdAMRmOCU/qd0T9qBvMXDSbNoDYdZ2mrMniw5zxeciu1KgPriGo5awajMWGV8V44ko909pK1mG7YD8ejvwc1piiragzxiIbjbs0Vpc0DekQjnPQUfxVwjF9MULqbBrhzTNLpZ5czKWGxeITHTkp65r5WPEVgj136TmapZdPyO3gBpmH4wRECwbAAAAAASUVORK5CYII="/>
                <b> Serge Koutouan</b></a>- il y a 12 heures</h4>
            </div>

            <div class="col-12">
            <p>Auditeur, Contrôleur de Gestion Junior</p>
            </div>
            <div class="col-12">
            <p><b>#finance #contrôle de gestion #audit</b></p>
            <br/>
            </div>

            <div class="col-12">
            <p class="post">Salut!<br/>
            Je suis serge, de Msc INSEEC (LYON).<br/>
            J'ai des connaissances en Finance, Contrôle de Gestion, Audit et Comptabilité.<br/>
            Hâte de partager de l'actu et des conseils avec vous.<br/>
            Si je peux vous aider, n'hésitez pas à m'écrire.<br/>
            Bye
            </p>
            </div>

        </div>

            <div class="row justify-content-center actions">

            <div class="col-4"><a href="#"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAA3klEQVRIieWV0Q3DIAxE30hs0oyQDZJNmg3KRskGsEn7gxUnAkyaplLVk/jBxx0YbOAf0AMPYAaeacxp7nZGuAOCEi2NkLiHMCmBCIyAU3GX5qLi3d8RHxv4o+JPFrlTZGdwNZxaV01XpL5zEclBThJK4j1rzkuoGegNZk/hsfNuGcgpfC64YOfeMpC7mFsXWzVQW/N9g0+maMkFPRdfshRZ8R03GESMYhPCmUKLlQ1c3ypg2+yGBvFDzS5nEpLRvl0PbP+LZnFBx7bfl0bkjQ9nb+RZ60TeuT8r/Bt4ARlmk+kFY6T/AAAAAElFTkSuQmCC"/> Envoyer un thanx</a></div>
            <div class="col-4"><a href="#"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAy0lEQVRIie2TQRHCMBBFn4RIiIRKwAE4oBJwAA5AAhJwQB2kDoIDcFAuyXQbAkuG9ML0z+zkkN3/NpsEFlWQAVyI2cyHELOaVwVI8742IDU3AuCBK7AHmlrmMD2FDA9sfzVPc1bACbgJkAOsBugU85xaAbqjjC0CXAGAkHthHNnbWsM461IIovasdZODxA7TCz4Ca1Eb92wpJPeCUtgmdD8AB+W0L5DcR2uAHdPX5MPaaYAUov3kFniIvK8AOcgn2YLcLKSvnLvoX/QEGTdq/UG9pK8AAAAASUVORK5CYII="/> Partager à un ami</a></div>
            
            </div>
            <div class="row">

                <div class="col-4"><a href="#">1 commentaire</a>  - 0 thanx</div>

                <div class="col-12"><hr></div>

            </div>

            <div class="row">
                <div class="col-12"><h4><a href="#"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAA70lEQVRIieWU3RGDIBCEvxIoxRLoIHSiHcROtCPtQDuIHSQPHjNMPE6IeUp2Zl+OY5efBfgHBGAAJuApnKR2uyLsgSURzXGR3ir0BcLvbEvFuw/EI7szcX9BPNJbBmtm0iarc8JOark7UREqt24dZdAMRmOCU/qd0T9qBvMXDSbNoDYdZ2mrMniw5zxeciu1KgPriGo5awajMWGV8V44ko909pK1mG7YD8ejvwc1piiragzxiIbjbs0Vpc0DekQjnPQUfxVwjF9MULqbBrhzTNLpZ5czKWGxeITHTkp65r5WPEVgj136TmapZdPyO3gBpmH4wRECwbAAAAAASUVORK5CYII="/><b> Léa Beli</b></a></h4></div>

                <div class="col-12"><p class="post">Bonjour serge ! Il est temps pour toi de <a href="">retrouver tes amis</a> pour profiter pleinement de Wizbii.</p></div>

                <div class="col-12 up-comment"><a href="">il y a 12 heures</a> - <a href="">0 Thanx</a> - <a href="">Thanx!</a> - <a href="">Supprimer</a></div>
                
                <div class="col-12 up-comment"><input class="form-control" type="text" placeholder="Ajouter un commentaire..."></div>

                
            </div>

            <div class="row justify-content-center">
                <div class="col-12"><h5>Tu vois ceci car serge koutouan est ami avec Jerome Martin</h5></div>
            </div>
            
    </div>

</div>
